<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<link rel="stylesheet" type="text/css" href="../public/css/user.css">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="dropdown-content" id='dropdown'>
      <form action='/' method="get">
        <button id='initial'>Αρχική</button>
      </form>
      <form action='/login' method="get">   
        <button id='login_btn' > Σύνδεση</button>  
      </form>
      <form action='/signup' method="get">
        <button id='initial'> Εγγραφή</button>
      </form>
    </div>
</body>
</html>

