<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/user.css">
  <link rel="stylesheet" type="text/css" href="../public/css/user.css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
  <body>
    <div class="dropdown-content" id='dropdown'>
      <form action='/' method="get">
        <button id='initial'>Αρχική</button>
      </form>
      <form action='/signup' method="get">
        <button id='initial'>Εγγραφή</button>
      </form>
    </div>
    <% if (error != null){ %>
        <script language="javascript">
          alert("<%= error %>");
        </script>
    <% } %>
    <div id="login" class="modal"> 
      <form class="modal-content animate" action="/login" method="post">
        <div class="container">
          <label for="header_login" ><p style="text-align:left; font-size: 17px;"><b style="border-bottom: 3px solid #009999;"> Είσοδος </b></p></label>
          <i class="fa fa-user fa-all"></i>
          <input type="text" id="user" placeholder="Email χρήστη" style="font-family:Arial, FontAwesome" onclick="document.getElementById('user').style.borderColor='#668cff';" name="email" required>
          <br><i class="fa fa-lock fa-all"></i>
          <input type="password" id="password" placeholder="Κωδικός" style="font-family:Arial, FontAwesome" onclick="document.getElementById('psw').style.borderColor='#668cff';" name="password" required>  
          <br><button type="submit" class="loginbtn" style="font-family:Arial, FontAwesome"><b>Είσοδος</b></button>
        </div>
      </form>
    </div>
</body>
</html>

